* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color : #1EBFC1;
}

/* Common */
.main-content {
    width: 1170px;
    /* max-width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    margin-left: 24px;
    padding: 0 41px;
    line-height: 68px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background: var(--primary-color);
    color: #FFFFFF;
}

.btn:hover {
    background: #fff;
    color: var(--primary-color);
}


a {
    text-decoration: none;
}

.heading {
    color: #0D1111;
    font-weight: 700;
} 



/* Header */
.header {
    position: sticky;
    top: -40px;
    padding: 40px 0 0 0;
    background: orange;
    z-index: 1;
}

.header  .row-header {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header .list {
    display: flex;
    margin-left: 235px;
}

.header .list  .item {
    padding: 0 19px;
    color: #2F3A3B;
    font-size: 1.6rem;
    font-style: normal;
}

.header .action {
    margin-left: auto;
}

.header .btn-sign-up {
    padding: 0 23px;
    line-height: 48px;
    font-size: 1.6rem;
    border: 1px solid var(--primary-color);
}

.header .btn-sign-in {
    color: #494949;
    font-size: 1.6rem;
}


/* Hero */
.hero {
    margin-top: 38px;
}

.hero .row-hero {
    display: flex;
}

.hero .content-block {
    margin-top: 143px;
    width: 39%;
}

.hero .content-block .desc {
    color: #767E7E;
    font-size: 1.4rem;
}

.hero .content-block .heading.lv1 {
    margin-top: 18px;
    font-size: 6.2rem;
    line-height: 1.16; 
}

.hero .content-block .desc-1 {
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.78; 
}

.hero .content-block .row-action {
    display: flex;
    margin-top: 52px;
}

.hero .content-block .cta-btn {
    border-radius: 14px;
}

.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 999px;
    background: #FFFFFF;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block {
    margin: 50px 0 79px 71px;
    padding-left: 65px;
    width: 54%;
}

.hero .media-block .parent {
    position: relative;
    width: 576px;
    height: 631px;
}

.hero .media-block .img-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .media-block .item {
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block .item-1 {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    padding: 17px 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
}

.hero .media-block .item-1 p {
    margin-left: 16px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .media-block .item-2 {
    position: absolute;
    bottom: 46px;
    left: -65px;
    padding: 16px 25px 23px;
    text-align: center;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
}

.hero .media-block .item-2 .desc {
    margin-bottom: 16px;
}

.hero .media-block .item-2 img {
    gap: 12px;
}

.hero .media-block .item-3 {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #FEFEFD;
}

.hero .media-block .item-3 .desc {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    }

.hero .media-block .item-3 .list-avatar {
    display: flex;
    margin: 8px 0 0 7px;
}

.hero .media-block .item-3 .avatar {
    width: 33px;
    height: 33px;
    margin-left: -7px;
}

.hero .media-block .item-3 .avatar:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    background: var(--primary-color);
    border-radius: 50%;
}

.hero .media-block .item-3 .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Features */
.features {
    margin-top: 130px;
}

.content-block-ok {
    width: 591px;
    line-height: 1.78;
}

.content-block-ok .title {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.content-block-ok .heading.lv2 {
    margin-top: 18px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; 
}

.content-block-ok .desc {
    padding-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
}

.features .list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .list .item:nth-of-type(1) {
    width: 168px;
}

.features .list .item:nth-of-type(2) {
    width: 223px;
}

.features .list .item:nth-of-type(3 ) {
    width: 224px;
}

.features .item .name {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .item .desc {
    margin-top: 16px;
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; 
}

/* Courses */
.courses {
    margin-top: 130px;
}

.courses .content-block-ok {
    width: 100%;
}

.courses .content-block-ok .desc {
    width: 525px;
}

.courses .row {
    display: flex;
    align-items: center;
}

.courses .row .link {
    margin-left: auto;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.list-courses {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.list-courses  .item {
    position: relative;
    width: 33.33%;
}

.list-courses  .item .image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    opacity: 0.35;
}

.list-courses  .item .content-item {
    position: absolute;
    bottom: -124px;
    left: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 0 25px 29px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.list-courses  .item .content-item .heading.lv3 {
    color: #0D1111;
    font-size: 2.2rem;
}

.list-courses  .item .content-item .desc {
    color: #767E7E;
    font-size: 1.6rem;
}

.list-courses  .item .content-item .desc.mt16 {
    margin-top: 16px;
    line-height: 1.76;
}

.list-courses  .item .content-item .desc strong {
    margin-left: 3px;
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.list-courses  .item .content-item .desc.mt6 {
    margin-top: 6px;
}

.list-courses  .item .content-item .desc.desc-2 {
    color: #9DA6A5;
    font-size: 1.4rem;
}


.list-courses  .item .content-item  .info{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.list-courses  .item .content-item  .info .desc::before {
    position: relative;
    top: -3px;
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.list-courses  .item .content-item  .info .desc {
    margin-left: 10px;
}

/* Registrant */
.registrant {
    margin-top: 265px;
}

.registrant .row {
    padding: 0 154px;
    display: flex;
    justify-content: space-between;
}

.registrant .row .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registrant .count {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.registrant .desc {
    margin-top: 11px;   
    color: #767E7E;
    font-size: 1.8rem;
}

/* Messages */
.messages {
    margin-top: 264px;
}

.messages .row {
    display: flex;
}

.content-messages {
    width: 36%;
    margin: 37px 72px 37px 0;
}

.content-messages .message {
    margin-top: 27px;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 1.5; 
}

.content-messages .name {
    display: flex;
    align-items: center;
    margin-top: 33px;
    color: #767E7E;
    font-size: 1.6rem;
}

.content-messages .name::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 2px;
    background: #070707;
}

.content-messages .name strong {
    color: #070707;
    font-weight: 500;
}

.content-messages .row-action {
    display: flex;
    gap: 30px;
}

.content-messages .row-action  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
}

.avatars-messages {
    position: relative;
    display: flex;
    width: 679px;
}

.avatars-messages .image {
    border-radius: 50%;
}

.avatars-messages .lv1 {
    position: absolute;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;  
}

.avatars-messages .lv2 {
    position: absolute;
    width: 92px;
    height: 92px;
}

.avatars-messages .img-2 {
    top: 0;
    right: 443px;
}

.avatars-messages .img-3 {
    top: 19px;
    right: 0;
}


.avatars-messages .lv3 {
    position: absolute;
    width: 78px;
    height: 78px;
}

.avatars-messages .img-4 {
    bottom: 29px;
    right: 32px;
}


.avatars-messages .img-5 {
    bottom: 0;
    right: 389px;
}


.avatars-messages .img-6 {
    bottom: 145px;
    left: 0;
}

/* Register */
.register {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #DEF6F5;
}

.register .row {
    display: flex;
    align-items: center;
}

.register .heading {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.register .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.register .btn  {
    border-radius: 14px;
    height: 68px;
    margin-left: 410px;
}

/* Footer */
.footer {
    padding-top: 131px;
}

.footer .row {
    display: flex;
}

.footer .image {
    width: 23%;
}

.footer .list {
    display: flex;
    width: 77%;
    margin-left: auto;
}

.footer .item {
    width: calc(100% / 4);
}

.footer .item .name {
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .item ul {
    margin-top: 25px;
}

.footer .item ul li {
    margin-bottom: 18px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .item ul li:last-child {
    margin-bottom: 0;
}

.footer .item ul i {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    color: #0B120B;
}

.footer .copyright {
    margin: 80px 0 50px 0;
    text-align: center;
    color: #B0B5B4;
    font-size: 1.8rem;
    font-weight: 400;
}